* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.parent {
  height: 100vh;
  max-width: 100vw;
  background-color: #111;
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 350px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  margin: 20px 20px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tc {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  height: 40px;
  width: 40px;
  border: 1 px soli #b1b1b1;
  border-radius: 50%;
}

.top button {
  padding: 2px 3px;
  color: #b1b1b1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
}

.center{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.center h2 {
  font-size: 18px;
  font-weight: 500;
}

.center h2 span {
  color: #b1b1b1;
  font-weight: 400;
  font-size: 12px;
}

.center h3 {
  font-size: 22px;
  font-weight: 600;
}

.center .type {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.center .type p {
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  padding: 2px 4px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1.5px solid #e0e0e0;
  padding: 15px 0px 0px 0px;
}

.bottom h3 {
  font-size: 20px;
  font-weight: 600;
}

.bottom h3 span {
  font-size: 14px;
  font-weight: 200;
  color: #b1b1b1;
}

.bottom button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}